@import '_color.sass'

.test
  background: url('~@/img/share.jpg') no-repeat top center
  height: 100px
  background-size: contain
  background-color: aqua
  display: flex
  justify-content: center
  align-items: center
  transform: translate(0,-3px)
  backdrop-filter: blur(2px)

h1
  color: aqua