extends ./layout/_layout.pug

//- block css
//-   link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' rel='stylesheet')
//-   link(href='css/scratch.css' rel='stylesheet')

//- block modal

block content
  h1 {{ title }}123
  ud-button(@click="toUrl('page.html')") TO PAGE
  img(src="~@/img/no_pirce.png" style="max-width: 60px;", alt="")
  .test
  img(src="~@/img/title.jpg", alt="")
  img(src="~@/img/start.jpg", alt="")
  img(src="~@/img/description.jpg", alt="")

//- block js
  //- script(src='plugins/scratchcard/scratchcard.min.js')
  //- script(src='js/index.js')