extends ./layout/_layout.pug

//- block css
//-   link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' rel='stylesheet')
//-   link(href='css/scratch.css' rel='stylesheet')

//- block modal
  //- 未中獎結果
  //- .result-noprize.hide
  //-   h6 您未中獎...
  //-   .prize-name
  //-     p 下次再接再厲！
  //-   .prize-wrapper
  //-     img.prize-img(src="img/no_pirce.png", alt="")
  //-   .prize-button
  //-     a(href="javascript:void(0)" @click="toUrl('/web/member_coupon/coupon_list.html')") 我的專屬禮遇
  //-     img.share(v-if="user.isShare" :src="user.shareImage", alt="" @click="friendShare")
  //- 黑遮罩
  //- .mask-black.hide

block content
  .error-page(v-if="user.isError")
    img(:src="user.errorImage", alt="")

  .result-page(v-else-if="isShowResult")
    //- 中獎結果
    .result-prize
      img.prize-img(:src="user.winning.prizeImage", alt="")
      img.share(v-if="user.isShare" :src="user.shareImage", alt="" @click="friendShare")
      .prize-button
        //- p 此為店員專用按鈕，請現場出示此畫面由店員點選。自行點選將會視同已兌換！
        //- a(href="javascript:void(0)" @click="useCoupon") 領獎(店員專用)
        a(href="javascript:void(0)" @click="toUrl('/web/member_coupon/coupon_list.html')") 我的專屬禮遇

  .game-page(v-else)
    .title-area
      img(:src="user.titleImage", alt="")
    .scratch-area
      img.start(:src="user.startImage", alt="" v-show="!isStart" @click="isStart = 1")
      .sc__wrapper
        #js--sc--container.sc__container
    .description-area
      img(:src="user.descriptionImage", alt="")

//- block js
//-   script(src='plugins/scratchcard/scratchcard.min.js')
//-   script(src='js/scratch.js')