extends ./layout/_layout.pug

//- block css
//-   link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' rel='stylesheet')
//-   link(href='css/scratch.css' rel='stylesheet')

//- block modal

block content
  h1 PAGE
  ud-button(@click="toUrl('index.html')") TO INDEX
  //- img(src="images/title.jpg", alt="")
  //- img(src="images/start.jpg", alt="")
  //- img(src="images/description.jpg", alt="")

//- block js
  //- script(src='plugins/scratchcard/scratchcard.min.js')
  //- script(src='js/page.js')