//- - var env = "dev";
doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    //- meta(name='description' content='描述')
    //- meta(name='keywords' content='關鍵字')
    //- meta(name='author' content='作者')
    meta(property="og:image" content="http://static.naver.jp/line_lp/img/ogp.png")
    meta(property="og:title" content="ud-webpack")
    meta(property="og:description" content="ud-webpack")
    title ud-webpack
    //- link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' )
    //- link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet' )
    //- link(href='css/main.css' rel='stylesheet')
    //- link(href='css/ud-modules.css' rel='stylesheet')
    //- block css

  body
    noscript Your browser does not support JavaScript!
    #app
      .container
        //- block modal
        block content

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //- script(src=`https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.common.dev.js`)
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    //- script(src='https://static.line-scdn.net/liff/edge/versions/2.6.0/sdk.js')
    //- script(src="js/ud-axios.js")
    //- script(src="js/ud-modules.js")
    //- block js